.about-container {
    .about-container-inner {
        height: 85vh;
        margin: 15vh 8vw 0 8vw;
        display: grid;
        grid-template-columns: 32vw 32vw 20vw;
        grid-template-rows: 40vh 40vh;
        color: #949494;

        .about-box {
            background-color: #ffffff;
            box-shadow: 2px 2px 6px #949494;

            &:hover {
                box-shadow: 4px 4px 12px #949494;
            }

            .about-box-inner {
                height: 80%;
                padding: 3% 4%;
                text-align: left;

                .about-box-inner-title {
                    height: 24px;
                    border-bottom: #949494 1px solid;

                    span {
                        font-weight: 600;
                    }
                }

                .about-box-inner-content {
                    height: 100%;
                    padding: 1%;
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;

                    &::-webkit-scrollbar {
                        display: none
                    }

                    .about-box-inner-content-top {
                        padding-top: 4px;
                        display: flex;

                        .about-box-inner-content-top-left {
                            img {
                                width: 100px;
                                border-radius: 100%;
                            }
                        }

                        .about-box-inner-content-top-right {
                            padding-left: 20px;

                            p {
                                padding: 2px;
                                font-size: 12px;
                                margin: 0;

                                #title {
                                    color: #6c6c6c;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    .about-box-inner-content-bottom {
                        height: 100px;

                        #title {
                            margin: 3px 0;
                            font-size: 12px;
                            font-weight: 600;
                            color: #6c6c6c;
                        }

                        p {
                            margin: 0;
                            font-size: 12px;
                        }
                    }

                    .about-box-inner-content-education {
                        display: flex;
                        border-bottom: 1px solid #949494;
                        flex-direction: column;

                        .about-box-inner-content-education {
                            display: flex;
                            flex-direction: column;
                            padding: 5px;
                            p {
                                font-size: 12px;
                                margin: 0;

                                #title {
                                    font-weight: 600;
                                    color: #6c6c6c;
                                }
                            }
                        }
                    }

                    .about-box-inner-content-experience {
                        display: flex;
                        padding: 5px;
                        border-bottom: 1px solid #949494;
                        flex-direction: column;

                        p {
                            margin: 0;
                            font-size: 12px;

                            #title {
                                font-weight: 600;
                                color: #6c6c6c;
                            }
                        }
                    }
                }

                .about-box-inner-content-s {
                    height: 115%;
                    padding: 3%;
                    display: flex;
                    flex-direction: column;
                    overflow-x: scroll;

                    &::-webkit-scrollbar {
                        display: none
                    }
                    .about-box-inner-content-skills {
                        p {
                            margin: 2px;
                            font-size: 13px;
                            font-weight: 600;
                            color: #6c6c6c;
                        }

                        .levelbar-container {
                            margin: 5px 0 10px 0;
                            width: 100%;
                            background-color: rgb(231, 231, 231);
                            border-radius: 20px;

                            .levelbar-container-inner-language {
                                text-align: center;
                                font-weight: bolder;
                                padding-top: 3px;
                                padding-bottom: 3px;
                                color: white;
                                border-radius: 20px;
                                background-color: #4caf50;
                                font-size: 12px;
                            }

                            .levelbar-container-inner-skills {
                                text-align: center;
                                font-weight: bolder;
                                padding-top: 3px;
                                padding-bottom: 3px;
                                color: white;
                                border-radius: 20px;
                                background-color: #2196f3;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

        }

        .about-topleft-box {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            margin: 0 5px 5px 0;

            @media screen and (max-width: 1024px) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                margin: 0 5px 5px 0 ;
            }

            @media screen and (max-width: 600px) {
                margin: 0 0 5px 0;
            }
        }

        .about-bottomleft-box {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
            margin: 5px 5px 0 0;

            @media screen and (max-width: 1024px) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 4;
                margin: 5px 5px 5px 0;
            }

            @media screen and (max-width: 600px) {
                margin: 5px 0 5px 0;
            }
        }

        .about-middleup-box {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
            margin: 0 5px 5px 5px;

            @media screen and (max-width: 1024px) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 4;
                grid-row-end: 4;
                margin: 5px 5px 5px 0;
            }

            @media screen and (max-width: 600px) {
                margin: 5px 0 5px 0;
            }
        }

        .about-middledown-box {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
            margin: 5px 5px 0 5px;

            @media screen and (max-width: 1024px) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 5;
                grid-row-end: 5;
                margin: 5px 5px 5px 0;
            }

            @media screen and (max-width: 600px) {
                margin: 5px 0 5px 0;
            }
        }

        .about-right-box {

            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: 0 0 0 5px;

            @media screen and (max-width: 1024px) {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 5;
                margin: 0 0 0 5px;
            }

            @media screen and (max-width: 600px) {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 6;
                grid-row-end: 6;
                margin: 5px 0 0 0 ;
            }
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 64vw 20vw;
            grid-template-rows: 42vh 42vh;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 84vw;
            grid-template-rows: 42vh 42vh;
        }
    }
}