.about-container {
    .about-container-inner {
        height: 85vh;
        margin: 15vh 8vw 0 8vw;
        display: grid;
        grid-template-columns: 32vw 32vw 20vw;
        grid-template-rows: 40vh 40vh;
        color: #949494;

        .album-box {
            background-color: #ffffff;
            box-shadow: 2px 2px 6px #949494;
            &:hover {
                box-shadow: 4px 4px 12px #949494;
            }
            .album-box-inner {
                padding: 3% 4%;
                text-align: left;
                .album-box-inner-title {
                    border-bottom: #949494 1px solid;
                    span {
                        font-weight: 600;
                    }
                }
                .album-box-inner-content {
                    padding: 1%;
                    display: flex;
                    flex-direction: column;
                    .album-box-inner-content-top{
                        padding-top: 4px;
                        display: flex;
                        overflow: scroll;
                        &::-webkit-scrollbar { display: none }
                        .album-box-inner-content-top-left {
                            img {
                                width: 100px;
                                border-radius: 100%;
                            }
                        }
                        .album-box-inner-content-top-right {
                            padding-left: 20px;
                            p {
                                padding: 2px;
                                font-size: 12px;
                                margin: 0;
                                #title {
                                    color: #6c6c6c;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    #title {
                        margin: 0;
                        font-size: 12px;
                        font-weight: 600;
                        color: #6c6c6c;
                    }
                    .album-box-inner-content-bottom {
                        height: 100px;
                        overflow: scroll;
                        &::-webkit-scrollbar { display: none }
                        #title {
                            margin: 1px;
                        }
                        p {
                            margin: 0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .about-topleft-box {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1;
            margin: 0 5px 5px 0;
        }
        .about-bottomleft-box {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
            margin: 5px 5px 0 0;
        }
        .about-middleup-box {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 1;
            margin: 0 5px 5px 5px;
        }
        .about-middledown-box {
            grid-column-start: 2;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 2;
            margin: 5px 5px 0 5px;
        }
        .about-right-box {

            grid-column-start: 3;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            margin: 0 0 0 5px ;
        }
    }
}