.contact-container {
    .contact-container-inner {
        display: flex;
        position: relative;
        flex-direction: column;
        padding-top: 10vh;
        margin: 0 8vw 0 8vw;
        .contact-container-top {
            margin-top: 20px;
            .contact-title {
                text-align: left;
                p {
                    font-size: 32px;
                    font-weight: 400;
                    color: #949494;

                    @media screen and (max-width: 1024px){
                        font-size: 22px;
                        text-align: center;
                    }

                    @media screen and (max-width: 380px){
                        font-size: 22px;
                    }
                }
            }
        }
        .contact-container-bottom {
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: row;
            margin-top: 30px;
            
            @media screen and (max-width: 1024px) {
                flex-direction: column;
                text-align: center;
                margin-top: 0px;
            }

            .contact-inner-bottom-left {
                width: 50%;
                img {
                    opacity: 0.9;
                    width: 60%;
                    border-radius: 100%;
                }

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    margin: 20px 0 20px 0;
                }
            }
            .contact-inner-bottom-right {
                width: 50%;
                position: relative;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                    margin: 20px 0 0 0;
                }

                .socialMedia-container {
                    position: absolute;
                    top: 30%;
                    left: 5%;
                    margin: 2vh 2vw;
                    display: flex;

                    @media screen and (max-width: 1024px) {
                        left: 0%;
                    }

                    .socialMedia-container-inner {
                        margin: 1vh 5%;
                        width: 30%;
                        img {
                            opacity: 0.9;
                            width: 100%;
                            border-radius: 100%;
                            &:hover {
                                width: 120%;
                            }
                        }
                    }
                }
            }
        }
    }
}
