.home {
    .home-container {
        img {
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            opacity: 0.9;
            object-fit: cover;
        }
        .content-container {
            overflow: hidden;
            width: 450px;
            position: absolute;
            z-index: 1;
            top: 37%;
            left: 8%;

            @media screen and (max-width: 530px){
                width: 300px;
            }

            @media screen and (max-width: 380px){
                width: 174px;
            }

            .title-description {
                position: relative;
                visibility: hidden;
                opacity: 1;
                color: #7c7c7c;
                .title {
                    font-size: 2.6em;
                    margin: 0;
                    text-align: left;

                    @media screen and (max-width: 530px){
                        font-size: 1.4em;
                    }

                    @media screen and (max-width: 380px){
                        font-size: 1em;
                    }
                }
                .description {
                    font-size: 1em;
                    margin: 0;
                    text-align: right;

                    @media screen and (max-width: 530px){
                        font-size: 0.7em;
                    }

                    @media screen and (max-width: 380px){
                        font-size: 0.5em;
                    }
                }
            }
            .explore-wrap {
                a {
                    text-decoration: none;
                }
                //custonButton
            }
        }
    }
}
