.menu-item-container {
    position: relative;
    width: 90px;
    display: flex;    
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
        justify-content: center;
        width: 55px;
    }

    @media screen and (max-width: 380px) {
        width: 40px;
    }

    .menu-item-inner {
        .menu-item {
            text-decoration: none;
            p {
                color: #949494;
                font-size: 20px;

                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }


                &:hover {
                    color: #5e5e5e;
                    @media screen and (min-width: 1025px) {
                        font-size: 21px;
                    }
                }
            }
        }
    }
}
