.header-container {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .header-container-inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 2vh 8vw 0 8vw;
        .header-container-left {
            width: 20%;
            .menu-icon {
                display: flex;
                a {
                    text-decoration: none;
                }
                #name-wrap {
                    img {
                        width: 80px;
                    }
                    #name {
                        color: #949494;
                        font-weight: 600;
                        font-size: 36px;
                    }
                }
            }
        }
        .header-container-right {
            width: 80%;
            .menu {
                justify-content: flex-end;
                position: relative;
                display: flex;
                padding-top: 1vh;
            }
        }
    }
}
