.header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .header-container-inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 0 5vw;
        .menu-icon {
            width: 350px;
            display: flex;
            position: absolute;
            z-index: 1;
            left: 0;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            text-align: center;
            padding: 1vh 1vw;
            margin: 0vh 2vw;
            a {
                text-decoration: none;
            }
            #name-wrap {
                text-align: center;
                #name {
                    color: #949494;
                    font-weight: 600;
                    font-size: 30px;
                }
            }
        }
        .menu {
            width: 350px;
            display: flex;
            position: absolute;
            z-index: 1;
            right: 0;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 18px;
            text-align: center;
            padding: 1vh 1vw;
            margin: 1vh 2vw;
        }
    }
}
