.explore-container {
    position: relative;
    width: 90px;
    height: 40px;
    display: block;
    border-radius: 5%;
    background-color: #6b6b6b;
    margin-top: 35px;
    text-align: left;

    //@media screen and (max-width: 1024px){
    //    width: 52px;
    //    height: 24px;
    //}

    @media screen and (max-width: 380px){
        width: 44px;
        height: 22px;
    }

    .explore-container-inner {
        position: absolute;
        left: 16%;
        top: 46%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        overflow: hidden;
        //text-align: center;
        //justify-content: center;
        //padding-top: 5px;
        span {
            font-size: 19px;
            color: #cecece;

            //@media screen and (max-width: 1024px){
            //    font-size: 12px;
            //}

            @media screen and (max-width: 380px){
                font-size: 9px;
            }
        }

        //@media screen and (max-width: 1024px){
        //    left: 12%;
        //    top: 42%;
        //}

        @media screen and (max-width: 380px){
            left: 18%;
            top: 38%;
        }
    }
}

.explore-container:hover {
    background-color: #cecece;
    span {
        color: #6b6b6b;
    }
}