.App {
  text-align: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #A9A9A9;
  /*background-color: #000000;*/

  /*margin: 0vw 10vw 0vw 10vw;*/
}


/*
.App-header {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}
*/
